.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.badge {
  margin: 4rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Link {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-decoration-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  width: 18rem;
  align-items: center;
}

.nav-link.active {
  font-weight: bold;
}

.table {
  margin: 1rem;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.img {
  height: 300px;
}

.col-sm {
  padding: 2rem;
}

.form-group {
  align-items: left;
  display: flex;
  justify-content: center;
  top: 50%
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.button {
  margin: 4rem;
  align-items: center;
  padding: 10px;
}

.form {
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}